.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }
  .container{
    max-width: 65%;
    margin: 0 auto;
  }

  